<ion-view view-title="Registro" align-title="left">
    <ion-content class="login-background">
        <div class="login-content">
            <div class="hero no-header flat">
                <img src="img/contacts-icon.png" style="width:100px;"/>
            </div>
            <div class="list">
                <label class="item item-input item-floating-label">
                    <span class="input-label">Usuario</span>
                    <input type="text" placeholder="Nombre" ng-model="userData.name">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Password</span>
                    <input type="text" placeholder="Titulo" ng-model="userData.jobTitle">
                </label>
            </div>
            <div class="padding">
                <button ng-click="register()" class="button button-full button-balanced ink">Registrar</button>
            </div>
        </div>
    </ion-content>
</ion-view>
