<ion-view view-title="Registro" align-title="left">
    <ion-content class="login-background">
        <div class="login-content">
            <div class="hero no-header flat">
                <div class="content">
                    <h2>Crea una cuenta</h2>
                </div>
            </div>
            <div class="list">
                <label class="item item-input item-floating-label">
                    <span class="input-label">Usuario</span>
                    <input type="text" placeholder="Usuario" ng-model="userData.user">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="Password" ng-model="userData.password">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Confirmar password</span>
                    <input type="password" placeholder="Confirmar password" ng-model="userData.password2">
                </label>
            </div>
            <div class="padding">
                <button ng-click="signup()" class="button button-full button-balanced ink">Unirse</button>
                <button ui-sref="app.login" class="button button-full button-clear button-cancel ink">Cancelar</button>
            </div>
            <p class="login-footer">Ya tienes una cuenta? <a ui-sref="app.login">Inicia sesión aquí</a></p>
        </div>
    </ion-content>
</ion-view>
